body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 1024px;
  background-color: rgb(255, 251, 251);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.items {
  width: 320px;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 9px lightgray;
  overflow: hidden;
  cursor: pointer;
}

img {
  width: 100%;
  transition: all 0.2s linear;
}

img:hover {
  transform: scale(1.2);
}

.group-img {
  position: relative;
}

.tag {
  position: absolute;
  top: 20%;
  left: 88%;
  transform: translate(-50%, -50%);
  background-color: rgb(243, 232, 255);
  color: #9333ea;
  padding: 2px 8px;
  border-radius: 9999px;
  font-size: 12px;
}

article {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.div-text {
  margin-bottom: 8px;
}

.text {
  background-color: #dcfce7;
  color: #16a34a;
  padding: 2px 8px;
  border-radius: 9999px;
  font-size: 12px;
}

h5 {
  font-size: 16px;
  margin: 0px;
}

p {
  color: #9ca3af;
  font-size: 12px;
  margin-top: 4px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.bottom-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}

.bottom-text {
  padding: 2px 4px;
  background-color: rgb(243, 244, 246);
  margin: 10px 0px;
  color: #6b7280;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 9999px;
}

.btn-more {
  background-color: #3b82f6;
  color: white;
  width: 100%;
  padding: 8px 0px;
  display: inline-block;
  border-radius: 0.5rem;
  text-align: center;
}
