body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(10, 10, 122);
  transform-origin: 50% 50%;
  transition-timing-function: linear;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#square {
  width: 20px;
  height: 20px;
  background-color: rgb(37, 138, 49);
}
@keyframes spin {
  from {
    transform: translate(50%, 50%) rotate(0);
  }
  to {
    transform: translate(50%, 50%) rotate(360deg);
  }
}
